@charset "UTF-8";

main{
    margin-top: 7%;
}

.custom-nav{
    max-width:1200px;
    width:1200px;
    margin:auto;

}

.custom-nav-contanier{
    display: inline;
    background-color: black;
}

body{
    max-width:1200px;
    width:1200px;
    margin:auto;

}

.gretting-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: inherit;
    margin: auto;
    background-color: #f0f0f0;
}

.registration-form{
    width:50%;
}

.gretting-text{
    padding: 20px;
    width: 50%;
}

.custom-sign-in-form{
    padding-top: 10%;
    margin: auto;
    width: 60%;

}

.custom-sign-up-form{
    margin: 120px auto ;
    width: 400px;

}