@charset "UTF-8";

main{
    margin-top: 7%;
}

.custom-nav{
    max-width:1200px;
    width:1200px;
    margin:auto;

}

body{
    max-width:1200px;
    width:1200px;
    margin:auto !important;

}

.header div{
    max-height: 150px;

}

.gretting-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: inherit;
    margin: auto;
    background-color: #f0f0f0;
}

.registration-form{
    width:50%;
}

.gretting-text{
    padding: 20px;
    width: 50%;
}

.custom-sign-in-form{
    padding-top: 10%;
    margin: auto;
    width: 60%;

}

.custom-sign-up-form{
    margin: 120px auto ;
    width: 400px;

}

/* User Profile  */

.profile-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/*
.profile-container p {
    text-align: center;
}
*/

.profile-info{
    border: black 2px solid;

    width: 30%;
}


.repository-container{
    border: black 2px solid;
    width: 70%;

    display: flex;
    flex-direction: column;
}

.repository-list{
    border: black 2px solid;
    padding:10px;


}

.repository-bar{
    display: flex;
    flex-direction: row;
    border: black 2px solid;
    justify-content: space-around;
}



.repository-list-item{
    border: black 2px solid;
}

.profile-info .card{
    margin-top: 100px;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.profile-info img{
    width: 100px;
    height: 100px;
}

.img-info{

}

.btn a {
    text-decoration: none;
}